**/*.aux
**/*.bbl
**/*.blg
**/*.idx
**/*.ind
**/*.lof
**/*.lot
**/*.out
**/*.toc
**/*.acn
**/*.acr
**/*.alg
**/*.glg
**/*.glo
**/*.gls
**/*.ist
**/*.fls
**/*.log
**/*.fdb_latexmk
**/*.snm
**/*.synctex(busy)
**/*.synctex.gz
**/*.nav
**/*.vrb
**/*.out.ps
**/*.dvi
**/*.pdf
**/*.synctex
**/*.synctex.gz(busy)
**/*.synctex.gz(busy)